<!DOCTYPE html>
<html>

<head>
    <title>SCP Library</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        
        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
        
        nav {
            background-color: #555;
            color: white;
            padding: 10px;
            text-align: center;
            position: sticky;
            top: 0;
        }
        
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        nav li {
            float: left;
            border-right: 1px solid white;
        }
        
        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        nav li a:hover {
            background-color: #ddd;
            color: black;
        }
        
        main {
            padding: 20px;
            margin-top: 50px;
            margin-bottom: 100px;
        }
        
        h1 {
            font-size: 36px;
            font-weight: bold;
            margin-top: 0;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        .scp-description {
            margin-top: 20px;
            line-height: 1.5;
        }
    </style>
</head>

<body>
    <header>
        <h1>SCP Library</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">SCP-001</a></li>
            <li><a href="#">SCP-002</a></li>
            <li><a href="#">SCP-003</a></li>
            <li><a href="#">SCP-004</a></li>
        </ul>
    </nav>
    <main>
        <h1>SCP-001: The Gate Guardian</h1>
        <img src="https://goeco.link/uoqcj" alt="SCP-001">
        <div class="scp-description">
            <p>SCP-001 is a humanoid entity, approximately seven hundred (700) cubits in height, located in an undisclosed location near the intersection of the Tigris and Euphrates rivers.</p>
            <p>SCP-001 is covered in hair made of pure gold and has eyes that are described as "glowing orbs of light". SCP-001 is capable of manipulating reality itself, and is believed to have created the universe and all life within it.</p>
            <p>Due to the immense power of SCP-001, all access to it is strictly prohibited except under Level 5 security clearance.</p>
        </div>
    </main>
    <footer>
        <p>&